 <div class="user-details">
  <h1> Discord Bots </h1>
</div>
  <div class="user">
    <div class="tech">
      <h2>Osakada <i class="devicon-csharp-plain colored"></i></h2>
	  <img alt="osakada" src="/assets/img/osakada.png" />
      <p>A general-purpose Discord bot written in C# using Discord.Net Library</p>
    </div>
    <div class="tech">
      <h2>Alexios <i class="devicon-javascript-plain colored"></i></h2>
	  <img alt="alexios" src="/assets/img/alexios.png" />
      <p>A Discord music bot written in JavaScript using discord.js Library</p>
    </div>
    <div class="tech">
      <h2>Avdol <i class="devicon-python-plain colored"></i></h2>
	  <img alt="avdol" src="/assets/img/avdol.png" />
      <p>A Discord music bot written in Python using discord.py Library</p>
    </div>
</div>
</div>
  <div class="user">
    <div class="tech">
      <h2>Utsutsu <i class="devicon-java-plain colored"></i></h2>
	  <img alt="utsutsu" src="/assets/img/utsutsu.png" />
      <p>A Game server management Discord bot written in Java using Javacord Library</p>
    </div>
    <div class="tech">
      <h2>Isla <i class="devicon-javascript-plain colored"></i></h2>
	  <img alt="isla" src="/assets/img/isla.png" />
      <p>A Discord Text to Speech bot written in JavaScript using discord.js Library</p>
    </div>
</div>
