<div class="user-details">
  <h1> Open Source Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mashiro" src="{{ "/assets/img/mashiro.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
	<h3> Mashiro <i class="devicon-javascript-plain colored"></i></h3>
    <p>A level system Discord bot written in JavaScript using discord.js Library</p>
    <a class="project-link" href="https://github.com/NatsumeLS/MashiroBot">Source</a>
  </div>
</div>
