<div class="user-details">
  <h1> Public Discord Bots </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="E" src="{{ "/assets/img/E.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
	<h3> It's in the game <i class="devicon-javascript-plain colored"></i></h3>
    <p>Type !E to summon</p>
    <a class="project-link" href="https://discordapp.com/api/oauth2/authorize?client_id=651001939269648391&permissions=0&scope=bot">Invite</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="persica" src="{{ "/assets/img/persica.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
	<h3> Persica <i class="devicon-python-plain colored"></i></h3>
    <p>A Girls' Frontline's Discord bot that will give you useful information about T-Dolls and equipments</p>
	<p>Type @Persica help to show list of commands</p>
    <a class="project-link" href="https://discordapp.com/api/oauth2/authorize?client_id=650766750064836628&permissions=8192&scope=bot">Invite</a>
  </div>
</div>