<div class="user-details">
  <h1> Public Discord Bots </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mashiro" src="{{ "/assets/img/mashiro.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
	<h3> Name <i class="devicon-javascript-plain colored"></i></h3>
    <p>Description</p>
    <a class="project-link" href="https://github.com/NatsumeLS/MashiroBot">Invite</a>
	<a class="project-link" href="https://github.com/NatsumeLS/MashiroBot">Docs</a>
  </div>
</div>
